[submodule "internal/documents/grammars/markdown/tree-sitter-markdown"]
	path = internal/documents/grammars/markdown/tree-sitter-markdown
	url = https://github.com/tree-sitter-grammars/tree-sitter-markdown
